<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= userInf.title || userInf.file.split(".")[0] %></title>
    <link rel="stylesheet" href="/styles/userTemplate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <h1><%= userInf.title || userInf.file %></h1>
    <p> <%= JSON.stringify(userInf) %> </p>
    <h2>Information about group:</h2>
    <ol>
        <li><b>Conversation title</b>: <%= userInf.title || userInf.file.split(".")[0] %></li>
        <li><b>Conversation type</b>: <%= userInf.conversationType==="Regular" ? "Standard conversation" : "Group" %></li>
        <li><b>Participants</b>: <%= userInf.participants.join(", ") %></li>
        <li><b>Your messages</b>: <%= userInf.pMessages-userInf.pPhotos %> and <%= userInf.pPhotos %> photos</li>
        <li><b>Messages sent by <%= userInf.conversationType==="Regular" ? userInf.title || userInf.file.split(".")[0] : "others" %>: </b><%= userInf.oMessages-userInf.oPhotos%> and  <%= userInf.oPhotos%> photos</li>
    </ol>
</body>
</html>