<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words Analyse</title>
    <link rel="stylesheet" href="/styles/word.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title">Words Analyse</h1>
    <div class="text">
        <p>
            Along your journey with facebook below are shown your the most <b>100</b> frequently used words.
        </p> 
        <hr>
        <div>
            <p class="subtitle">Top 1 - 100 words</p>
            <ol>
            <% let topWords = Object.entries(words).sort(function(a,b){return b[1]-a[1]}).slice(0,100); %>
            <% topWords.forEach((word)=>{ %>
                <li><%= word[0] + " - " + word[1] %></li>
            <% }) %>
            </ol>
        </div>
        <hr>
        <p id="contentSwitchP">
            Probably most of your words are conjunctions and pronouns, so dont worry! I'm prepared for this situation and prepared your top 300 most used words! Click button below if you want to see some more information!
        </p>
        <button>Click here to expand this list more</button>
        <hr class="visible vChange">
        <div id="expandList" class="visible">
            <% let topWords2 = Object.entries(words).sort(function(a,b){return b[1]-a[1]}).slice(100,300); %>
            <p class="subtitle">Top 101 - <%= (topWords2.length+100<=300) ? topWords2.length+100 : "300"%> words</p>
            <ol>
            <% topWords2.forEach((word)=>{ %>
                <li><%= word[0] + " - " + word[1] %></li>
            <% }) %>
            </ol>
        </div>
    </div>
    <hr>
    <h1 class="title">Number Analyse</h1>
    <div class="text">
        <p>
            Numbers are integral part of our existence, so I have prepered most used numbers by You. Shown are only numbers you have wrote more than <b>30 times</b>!
            On left side is written number and on right side how many times u typed this number.
        </p>
        <p id="numbers">
            <% let numbers = Object.entries(words).filter((word)=>Number(word[0]) && !word[0].endsWith(".") && word[1]>=30); 
                let objectNumbers = new Object();
                numbers.forEach(num=>{
                    if  (objectNumbers[parseFloat(num[0].replace(",","."))]) objectNumbers[parseFloat(num[0].replace(",","."))] += num[1];
                    else objectNumbers[parseFloat(num[0].replace(",","."))] = num[1];
                });
            %>
            <ol>
            <% Object.entries(objectNumbers).sort((a,b)=>{return b[1]-a[1]}).forEach((number)=>{ %>
                <li><%= number[0] + " - " + number[1] %></li>
            <% }) %>
            </ol>
        </p>
        <p>
            The <b>lowest</b> number ever used: <%= Math.min(...Object.keys(words).filter(n=>!isNaN(n))); %> <br>
            The <b>highest</b> number ever used: <%= Math.max(...Object.keys(words).filter(n=>!isNaN(n))); %> <br>
            Numbers might be written in scientific notation!
        </p>
    </div>
    <h1 class="title">Letter Analyse</h1>
    <div class="text">
        <p>
            Then let's check how many times was every letter written! <b class="warning">Local characters are not supported yet!</b>
        </p>
            <ol>
                <% 
                let alphabet = new Object();
                Object.entries(words).forEach((word)=>{
                    word[0].split("").forEach((letter)=>{
                        if (!alphabet[letter]) alphabet[letter] = word[1];
                        else alphabet[letter]+=word[1];
                    });
                });
                %>
                <% Object.entries(alphabet).filter(l=>!/[^a-z0-9]/g.test(l[0])).sort((a,b)=>{return a[0]-b[0] || a[0].localeCompare(b[0])}).forEach(letterInAlphabet=>{ %>
                    <li><%= letterInAlphabet[0] + " - " + letterInAlphabet[1] %></li>
                <% }); %>
                <% Object.entries(alphabet).filter(l=>/[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/g.test(l[0])).sort((a,b)=>{return b[1]-a[1]}).forEach(letterInAlphabet=>{ %>
                    <li><%= letterInAlphabet[0] + " - " + letterInAlphabet[1] %></li>
                <% }); %>
            </ol>
        <p></p>
    </div>
    <div class="text">
        <p>
            <a href="/">Home</a> | 
            <a href="/user/">Overview</a> | 
            <a href="/word/">⬆ Words ⬆</a>
        </p>
    </div>
    <script>
        document.querySelector(".text button").addEventListener("click", ()=>{
            document.querySelectorAll("#expandList, .vChange").forEach(e=>{e.classList.toggle("visible");});
            if (document.querySelector("#expandList").classList.contains("visible")) {
                document.querySelector("#contentSwitchP").textContent = "Probably most of your words are conjunctions and pronouns, so dont worry! I'm prepared for this situation and prepared your top 300 most used words! Click button below if you want to see some more information!";
                return document.querySelector(".text button").textContent = "Click here to expand list!";
            } else {
                document.querySelector("#contentSwitchP").textContent = "Maybe now you can see more information about your words. Hope it helped a little bit! Remember you can expand and collapse list below at any time!";
                return document.querySelector(".text button").textContent = "Click here to collapse list!";
            }
        });
    </script>
</body>
</html>